@import "shared.module";

.not-mobile {
  display: none!important;
  @media screen and (min-width: 600px){
    display: initial!important;
  }
}
.mobile {
  @include for-phone-only {
    display: block!important;
  }
  display: none!important;
}

.page__title__mobile {
  display: none;
  width: 100%;
  @include for-tablet-landscape-up {
    display: none;
  }
  margin-bottom: -50px;

  .calcium__header__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    /* identical to box height, or 22px */


    color: #0054A9;
  }
}


.aqua__head {


  position: relative;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 32px;


  @media screen and (max-width: 900px) {
    justify-content: flex-start;
    align-items: center;

  }
  .head__image__bg {
    z-index: -999;
    left: -140px;
    top: 0;
    width: 1200px;
    position: absolute;
    @include for-phone-only {
      display: none;
    }
  }

  .head__image__bg__mob {
    z-index: -999;
    left: -80px;
    top: 50px;
    width: 1200px;
    position: absolute;
    @media screen and (min-width: 600px){
      display: none;
    }
  }

  .head__title__desk {

    @media screen and (max-width: 900px){
      display: none;
    }



  }

  .head__text {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 18px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    color: #353535;

    @include for-phone-only {
      flex-direction: column;
      padding-right: 10px;
      align-items: flex-start;
      font-weight: 500;
      font-size: 10px;
      gap: 0;
      line-height: 110%;
      color: #353535;
      margin-top: -24px!important;
      margin-bottom: 24px!important;
      svg {
        width: 22px;
        margin-bottom: -12px;
      }
    }


    &:nth-child(1) {
      margin-top: 32px;
    }
  }

  .head__image {
    padding-left: 160px;
    max-width: 500px;
    position: relative;

    @media screen and (max-width: 1050px){
      padding-left: 0;

      .conffeti {
        left: 0!important;
      }
    }

    .conffeti {
      position: absolute;
      left: 150px;
      z-index: -100;
      @include levitateConfetti;
      top: -50px;
      scale: 1.3;

      @include for-phone-only {
        top: -10px;
      }

    }

    img {
      max-height: 370px;
    }
  }

  .calcium__header__title {
    padding-right: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #0054A9;
  }

  .calcium__header__subtitle {
    margin-top: 32px;
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #353535;

    @media screen and (max-width: 900px){
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      /* or 14px */


      color: #353535;
    }
  }
}







.box {
  max-width: 1116px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */


  color: #353535;

}

.title__box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-phone-only {
    align-items: flex-start;
    text-align: unset;
  }

  div:nth-child(n+2) {
    margin-top: -6px;
    @media screen and (max-width: 750px){
      margin-top: 0;
    }
    @media screen and (max-width: 600px){
      margin-top: -4px;
    }
  }

  span {
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;

    @media screen and (max-width: 1200px){
      font-size: 24px;
    }
    @media screen and (max-width: 750px){
      font-size: 18px;

    }
    @media screen and (max-width: 600px){
      font-size: 12px;
      padding: 3px 10px;

    }
  }
}

.aqua__text__box {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .aqua__first__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #353535;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include for-phone-only {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      gap: 8px;
    }
  }
}


.help__box {
  line-height: 120%;

  @include for-phone-only {
    line-height: 60%;
  }
}
.text--after--card--sorry {
  @include for-phone-only {
    font-weight: 400;
    font-size: 12px;
    line-height: -50% !important;
  }
}

.aqua__cards {
  display: grid;

  grid-template-columns: repeat(3, 1fr);


  @include for-tiny-desktop-up {
    grid-template-columns: repeat(6, 1fr);

  }
  gap: 10px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding:24px 12px ;
    @include for-phone-only {
      padding: 12px;
    }

    img {
      width: 100%;
      max-width: 154px;
      aspect-ratio: 1/1;

      @include for-phone-only {
        width: 64px;
        height: 64px;
      }
    }

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 110%;
      color: #353535;
      text-align: center;
      @include for-phone-only {
        font-weight: 700;
        font-size: 10px;
        line-height: 110%;
      }
    }
  }
}

.bg__box {
  padding: 24px;
  background: rgba(0, 159, 227, 0.25);
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #0054A9;

  @include for-phone-only {
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    border-radius: 12px;
  }
}


.aqua__list {
  margin-top: 50px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  @include for-phone-only {
    margin-top: 20px;
    margin-bottom: -20px;
  }

  .aqua__list__list {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include for-phone-only {
      gap: 12px;
    }


    .aqua__list__item {
      display: flex;
      align-items: center;
      gap: 32px;


      @include for-phone-only {
        gap: 12px;
        img {
          height: 22px;
        }
      }



      span {
        margin-top: 4px;
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        color: #353535;

        @include for-phone-only {
          font-weight: 400;
          font-size: 10px;
          line-height: 110%;
        }

      }
    }
  }


  .aqua__list__image {
    position: relative;
    max-height: 333px;
    max-width: 300px;



    @include for-phone-only {
      max-width: 200px;

      &:before {
        content: '';
        width: 100%;
        position: absolute;
        z-index: -999;
        height: 100%;
        background: url("../images/aqua/list__bg__mobile.png");
      }
    }

    @media screen and (max-width: 400px){
      img {
        max-height: 180px;
        max-width: 180px;
      }

    }

    .conffeti {
      position: absolute;
      left: 0;
      z-index: -998;
      top: -20px;
      scale: 1.4;
      @include levitateConfetti;
      @media screen and (max-width: 400px){
        left: -10px;
        top: 0px;
        scale: 1.4;
      }
    }
  }
  .list__bg {
    z-index: -999;
    right:-350px;
    top: -50px;
    height: 100%;
    width: 1000px;
    object-fit: cover;
    position: absolute;
  }


}


.aqua__method {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include for-phone-only {
    gap: 12px;
  }



  .centred {
    display: grid;
    place-items: center;
  }

  .bg__dark {
    background: #0054A9;
    border-radius: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    padding: 16px;
    
    @media screen and (max-width: 800px){
      font-weight: 900;
      font-size: 8px;
      line-height: 110%;
      border-radius: 12px;

    }
  }

  .bg__light {
    background: #2BA78F;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    @media screen and (max-width: 800px){
      font-weight: 900;
      font-size: 8px;
      line-height: 110%;
      border-radius: 12px;
    }
  }

  .aqua__method__bottom__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    color: #000000;
    gap: 8px;

    @include for-phone-only {
      font-weight: 900;
      font-size: 8px;
      line-height: 110%;
      gap: 4px;
    }

    img {
      width: 28px;
      height: 40px;

      @include for-phone-only {
        height: 20px;
        width: auto;
      }

    }

    div {
      display: flex;
      gap: 8px;
      align-items: center;

      @include for-phone-only {
        gap: 12px;
      }


      span {
        text-align: left;
      }
    }
  }

  .aqua__first__method {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include for-phone-only {
      gap: 12px;
    }



    .aqua__first__method__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @include for-phone-only {
        gap: 10px;
      }


      .aqua__first__column {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include for-phone-only {
          gap: 4px;
        }

        .aqua__first__column__row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 8px;
        }
      }


    }

    .aqua__first__bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include for-phone-only {
        display: flex;
        justify-content: space-around;
      }

      .aqua__first__bottom__column {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include for-phone-only {
          gap: 12px;
          width: 50%;
          padding-left: 10px;
          margin-right: -10px;
        }
      }
    }
  }
}