@import "shared.module";


.page__title__mobile {
  width: 100%;
  @include for-tablet-landscape-up {
    display: none;
  }
  margin-bottom: -50px;

  .calcium__header__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    /* identical to box height, or 22px */


    color: #0054A9;
  }
}


.calcium__head {
  position: relative;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 32px;

  @media screen and (max-width: 900px) {
    justify-content: flex-start;
    align-items: center;

  }
    .head__image__bg {
    z-index: -999;
    left: -200px;
    top: 0;
    width: 1200px;
    position: absolute;
  }

  .head__title__desk {

    @media screen and (max-width: 900px){
      display: none;
    }

  }

  .head__image {
    padding-left: 120px;
    max-width: 500px;
    position: relative;

    @media screen and (max-width: 1050px){
      padding-left: 0;

      .conffeti {
        left: 0!important;
      }
    }

    .conffeti {
      position: absolute;
      left: 150px;
      z-index: -100;
      @include levitateConfetti;
      top: -50px;
      scale: 1.3;

      @include for-phone-only {
        top: -10px;
      }

    }

    img {
      max-height: 370px;
    }
  }

  .calcium__header__title {
    padding-right: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #0054A9;
  }

  .calcium__header__subtitle {
    margin-top: 32px;
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #353535;

    @media screen and (max-width: 900px){
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      /* or 14px */


      color: #353535;
    }
  }
}





.calcium__text__bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #353535;

  @include for-phone-only {
    font-size: 12px;
  }
}

.calcium__text__light {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #353535;

  @include for-phone-only {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  }
}

.calcium__about {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr;

  }


  .card {
    padding: 30px 28px;

    @include for-phone-only {
      padding: 16px;
    }



    .card__image__box {
      display: flex;
      align-items: center;

      margin-top: -40px;

      img {
        height: 190px;
        width: auto;
        object-fit: contain;
        position: relative;
        margin-right: -20px;
        margin-left: -28px;
        margin-bottom: -20px;

        @include for-phone-only {
          margin-left: -40px;
        }
      }

      span {
        max-width: 462px;
        margin-top: 30px;
      }
    }
  }
}


.calcium__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1116px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */

  @include for-phone-only {
    gap: 8px;
  }


  color: #353535;

}

.calcium__info {
  display: grid;
  max-width: 1116px;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
  //height: 443px;
  @include for-phone-only {
    margin-bottom: 0;
  }

  .calcium__info__mobile__img {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;

    img {
      width: 100%;
      max-width: 500px;
      object-fit: contain;
      image-rendering: crisp-edges;
    }

    @include for-tablet-landscape-up {
      display: none;
    }
  }


  .info__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    position: relative;


    @include for-tablet-landscape-up {
      grid-template-columns: 1fr;
      gap: 50px;
      max-height: 370px;
    }

    &:before {
      @media screen and (max-width: 900px){
        display: none;
      }
      position: absolute;
      z-index: -9999;
      background-repeat: no-repeat;
      background-position: left;
      content: url("../images/calcium/infobig1.png");
      right: -180px;
      object-fit: cover;
      top: -40px;
    }

    .info__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;

      img {
        height: 28px;

      }

      @include for-tablet-landscape-up {
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: unset;
        flex-direction: unset;
        img {
          height: 56px;
          aspect-ratio: 1/1;
        }
      }



    }
  }
}


.calcium__method {
  max-width: 1116px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .calcium__method__title {
    margin-bottom: 38px;
    @include for-phone-only {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 12px;
    }
  }

  .calcium__method__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @include for-phone-only {
      gap: 12px;
    }

    .calcium__method__item__mobile {
      display: flex;
      flex-direction: column;
      gap: 4px;

      @include for-tablet-landscape-up {
        display: none;
      }

      .mobile__method__title {
        font-weight: 700;
        font-size: 12px;
        line-height: 110%;
        text-transform: uppercase;
        color: #0054A9;
        padding-left: 16px;
      }

      .mobile__method__content {
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        height: 36px;

        .mobile__method1 {
          background: #9ED6EE;
          border-radius: 20px;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 16px;
          font-weight: 700;
          font-size: 12px;
          line-height: 110%;
          color: #0054A9;

          span:nth-child(2) {
            font-weight: 500;
          }
        }

        .mobile__method2 {
          width: 120%;
          transform: translateX(-50px);
          background: #FFFFFF;
          border-radius: 20px;
          display: flex;
          align-items: center;
          padding-left: 60px;
          gap: 4px;

          div {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 10px;
            line-height: 110%;
            color: #0054A9;
            span:nth-child(2) {
              font-weight: 500;
            }
          }
        }
      }
    }












    .calcium__method__item {
      grid-template-columns: 1.5fr 0.8fr 1fr;
      height: 90px;
      display: none;
      @include for-tablet-landscape-up {
        display: grid;

      }

      .method__item1 {
        background: #009FE3;
        border-radius: 155px;
        z-index: 3;
        font-weight: 700;
        font-size: 32px;
        line-height: 110%;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        padding-left: 50px;

      }
      .method__item2 {
        width: 140%;
        transform: translateX(-100px);
        background: #9ED6EE;
        border-radius: 155px;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 120px;
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
        color: #0054A9;

        span:nth-child(2) {
          font-weight: 500;
        }

      }
      .method__item3 {
        width: 120%;
        transform: translateX(-59px);

        background: #FFFFFF;
        border-radius: 155px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 38px;

        .method__item3__content {
          display: flex;
          gap: 4px;



          div {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 24px;
            line-height: 110%;
            color: #0054A9;

            span:nth-child(2) {
              font-weight: 500;
            }
          }
        }
      }
    }


    .calcium__method__add {
      width: 100%;
      background: #2BA78F;
      border-radius: 155px;
      font-weight: 700;
      font-size: 24px;
      line-height: 110%;
      text-align: center;
      padding: 24px;
      margin-bottom: 38px;

      text-transform: uppercase;

      color: #FFFFFF;

      display: none;
      @include for-tablet-landscape-up {
        display: block;
      }

    }


    .calcium__method__add__mobile {
      margin-bottom: 24px;

      @include for-tablet-landscape-up {
        display: none;
      }

      span {
        font-weight: 700;
        font-size: 10px;
        line-height: 110%;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 3px 12px;
        background: linear-gradient(0deg, #2BA78F, #2BA78F), linear-gradient(0deg, #EF7D00, #EF7D00), #EF7D00;
        border-radius: 30px;
      }

      .calcium__method__add__mobile__text {
        margin: 20px 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #353535;
      }
    }
  }
}