@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.slider__wrapper {
  width: calc(100% + 94px);
  max-width: 1440px;
  max-height: 480px;
}
@media screen and (max-width: 1500px) {
  .slider__wrapper {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .slider__wrapper {
    max-height: 200px;
  }
}
.slider__wrapper .slider {
  height: 100%;
}
@media (max-width: 599px) {
  .slider__wrapper .slider {
    height: 200px;
  }
}
.slider__wrapper .slider .swiper-slide img {
  border-radius: 12px;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 600px) {
  .slider__wrapper .slider .swiper-slide img {
    object-fit: cover;
  }
}
.slider__wrapper .slider .swiper-pagination .swiper-pagination-bullet {
  background: #FFFFFF;
  height: 16px;
  width: 16px;
  opacity: 1;
}
@media (max-width: 599px) {
  .slider__wrapper .slider .swiper-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }
}
.slider__wrapper .slider .swiper-pagination .swiper-pagination-bullet-active {
  background: none;
  border: 3px solid #FFFFFF;
}
@media (max-width: 599px) {
  .slider__wrapper .slider .swiper-pagination .swiper-pagination-bullet-active {
    border: 2px solid #FFFFFF;
  }
}

.consequences__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media (max-width: 599px) {
  .consequences__block {
    gap: 12px;
  }
}
.consequences__block .consequences__title {
  text-align: center;
  color: #0054A9;
  font-weight: 400;
  font-size: 50px;
  line-height: 110%;
}
.consequences__block .consequences__title br {
  display: none;
}
@media (max-width: 599px) {
  .consequences__block .consequences__title {
    text-align: left;
    font-size: 18px;
    width: 100%;
  }
  .consequences__block .consequences__title br {
    display: block;
  }
}
.consequences__block .consequences__title span {
  font-weight: 700;
}
.consequences__block .consequences__content {
  width: 100%;
  max-width: 1350px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
@media (min-width: 900px) {
  .consequences__block .consequences__content {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.consequences__block .consequences__content .consequences__item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}
@media (max-width: 599px) {
  .consequences__block .consequences__content .consequences__item__title {
    font-size: 14px;
  }
}
.consequences__block .consequences__content .consequences__content__item {
  width: 100%;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 599px) {
  .consequences__block .consequences__content .consequences__content__item {
    padding: 12px;
    gap: 12px;
  }
}
.consequences__block .consequences__content .consequences__content__item .consequences__item__description {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 24px;
}
.consequences__block .consequences__content .consequences__content__item .consequences__item__description br {
  display: none;
}
@media (min-width: 900px) {
  .consequences__block .consequences__content .consequences__content__item .consequences__item__description {
    grid-template-columns: repeat(2, 1fr);
  }
  .consequences__block .consequences__content .consequences__content__item .consequences__item__description br {
    display: initial;
  }
}
@media (max-width: 599px) {
  .consequences__block .consequences__content .consequences__content__item .consequences__item__description {
    gap: 8px;
  }
}
.consequences__block .consequences__content .consequences__content__item .consequences__item__description .alone__column {
  grid-column: 1/-1;
  margin-top: -8px;
}
.consequences__block .consequences__content .consequences__content__item .consequences__item__description .consequences__desc {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.consequences__block .consequences__content .consequences__content__item .consequences__item__description .consequences__desc .consequences__desc__list {
  margin-top: 8px;
}
.consequences__block .consequences__content .consequences__content__item .consequences__item__description .consequences__desc .consequences__desc__list li {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #353535;
  margin-bottom: 10px;
}
@media (max-width: 599px) {
  .consequences__block .consequences__content .consequences__content__item .consequences__item__description .consequences__desc .consequences__desc__list li {
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 4px;
  }
}

#firts__conffeti {
  right: 90px;
  left: unset;
  rotate: 189deg;
}
@media screen and (max-width: 1300px) {
  #firts__conffeti {
    right: 0;
  }
}

.about__confetti {
  position: absolute;
  z-index: -99;
  height: 50% !important;
  top: 20px;
  left: 0;
  animation: levitate 5s ease-in-out infinite;
}
@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1300px) {
  .about__confetti {
    height: 45% !important;
  }
}

.mobile__confetti {
  top: -30px;
  position: absolute;
  width: 55vw !important;
  z-index: -99;
  left: 17%;
  animation: levitate 5s ease-in-out infinite;
}
@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.about__block {
  display: grid;
  grid-template-columns: minmax(200px, 450px) minmax(600px, 1fr);
  gap: 24px;
}
@media screen and (max-width: 900px) {
  .about__block {
    grid-template-columns: 1fr;
  }
  .about__block .about__block__title {
    text-align: center;
  }
  .about__block .about__block__title br {
    display: none;
  }
  .about__block .about__title__image {
    display: none;
  }
}
.about__block .about__block__title {
  margin-top: 97px;
}
@media screen and (max-width: 900px) {
  .about__block .about__block__title {
    margin-top: 0;
  }
}
.about__block .about__block__title .about__title__text {
  font-weight: 500;
  font-size: 50px;
  line-height: 110%;
  color: #0054A9;
}
@media (max-width: 599px) {
  .about__block .about__block__title .about__title__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
  }
}
.about__block .about__block__title .about__title__text span {
  font-weight: 700;
}
.about__block .about__block__title .about__title__image img {
  margin-left: -75px;
}
@media screen and (max-width: 1200px) {
  .about__block .about__block__title .about__title__image img {
    margin-left: -20px;
  }
}
.about__block .about__block__content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-top: 110px;
}
@media screen and (max-width: 900px) {
  .about__block .about__block__content {
    display: none;
  }
}
.about__block .about__block__content:before {
  content: "";
  position: absolute;
  width: 1654px;
  height: 703px;
  top: -80px;
  left: -350px;
  z-index: -9999;
  background-repeat: no-repeat;
  background-image: url("/images/home/about__bg.png");
  background-size: contain;
}
.about__block .about__block__content .about__item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.about__block .about__block__content .about__item:hover .about__hover {
  opacity: 1;
}
.about__block .about__block__content .about__item .about__hover {
  transition: ease-in-out 0.3s;
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0;
  z-index: -9999;
  width: 80%;
  height: 350px;
  background: #FFD818;
  filter: blur(77.5px);
}
.about__block .about__block__content .about__item img {
  object-position: left bottom;
  width: auto;
  height: 350px;
  object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .about__block .about__block__content .about__item img {
    height: 300px;
    margin-top: 40px;
  }
}
.about__block .about__block__content .about__item .about__item__button {
  display: flex;
}
.about__block .about__block__content .about__item .about__item__title {
  font-weight: 300;
  font-size: 25px;
  line-height: 120%;
  color: #0054A9;
  margin-bottom: -16px;
}
.about__block .about__block__content .about__item .doted__list {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #353535;
  margin-left: 10px;
  max-width: 370px;
}
.about__block .about__block__content .about__item .doted__list li {
  margin-bottom: 8px;
}
.about__block .about__block__content__mobile {
  width: 100%;
  max-width: 94vw;
  position: relative;
  min-height: 400px;
}
.about__block .about__block__content__mobile:before {
  content: "";
  position: absolute;
  width: 104vw;
  height: 100%;
  left: -25px;
  z-index: -9999;
  background-repeat: no-repeat;
  background-image: url("/images/home/about__bg__mobile.png");
  background-size: 100%;
}
@media screen and (min-width: 901px) {
  .about__block .about__block__content__mobile {
    display: none;
  }
}
.about__block .about__block__content__mobile .about-button-next, .about__block .about__block__content__mobile .about-button-prev {
  position: absolute;
  top: 25%;
  cursor: pointer;
  z-index: 12;
}
.about__block .about__block__content__mobile .about-button-prev {
  left: 0;
}
.about__block .about__block__content__mobile .about-button-next {
  right: 0;
}
.about__block .about__block__content__mobile .about__slider {
  height: 100%;
  width: 100%;
}
.about__block .about__block__content__mobile .about__slider .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-left: 5px;
}
.about__block .about__block__content__mobile .about__slider .swiper-slide img {
  width: 50%;
  min-width: 240px;
}
.about__block .about__block__content__mobile .about__slider .swiper-slide .about__item__button {
  margin-top: 24px;
}
.about__block .about__block__content__mobile .about__slider .swiper-slide .about__item__mobile__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.about__block .about__block__content__mobile .about__slider .swiper-slide .about__item__mobile__list .about__item__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  color: #0054A9;
}
@media (max-width: 599px) {
  .about__block .about__block__content__mobile .about__slider .swiper-slide .about__item__mobile__list .about__item__title {
    font-size: 20px;
  }
}
.about__block .about__block__content__mobile .about__slider .swiper-slide .about__item__mobile__list .doted__list {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #353535;
  max-width: 90%;
}
@media (max-width: 599px) {
  .about__block .about__block__content__mobile .about__slider .swiper-slide .about__item__mobile__list .doted__list {
    font-size: 12px;
  }
}
.about__block .about__block__content__mobile .about__slider .swiper-slide .about__item__mobile__list .doted__list li {
  margin-bottom: 8px;
}

/*# sourceMappingURL=home.module.css.map */
